.main-chat
  .main
    .main-header
      .main-header__left-box
        %h2.main-header__groups
          = @group.name
        %ul.main-header__member--lists
          %li.main-header__member--list
            member
          %li.main-header__member--name
            = current_user.name
      .main-header__right--box
        =link_to "編集", edit_group_path(@group)
    .main-messages
      .main-messages__post
        .messages
          = render @messages
    .main-message__form
      .text-area
        = form_for [@group, @message] do |f|
          .form
            = f.text_field :content, class: 'new_mwssage', placeholder: 'type a message'
            .input-box
              = f.label :image, class: 'input-box__image' do
                = icon('fas', 'image')
                = f.file_field :image, class: 'input-box__image-text'
          = f.submit '送信', class: 'submit'