.chat-side
  .sidebar
    .side-header
      .side-header__top
        .side-header__top__name
          = current_user.name
        %ul.side-header__top__icon
          %li.side-header__top__edit
            = link_to new_group_path do
              = icon('fas', 'edit')
          %li.side-header__top__cog
            = link_to edit_user_path(current_user) do
              = icon('fas', 'cog')
    .groups
      - current_user.groups.each do |group|
        .group
          = link_to "#" do
            .group__name
              = group.name
            .group__message
              メッセージはまだありません